.gombok{
    color: red;
    border-color: #d61ca2;
    size: 12px;
}
.donaldiusz{
    border-style: double;
    border-color: green;
    width: 11%;
}
.donaldiusz2{
    border-style: double;
    border-color: pink;
    width: 11%;
}